/*
Author: Jonah Osband
Date Last Modified: 12/13/2021
Purpose: CSS file for index.html
*/

/*General changes*/

body {
    background-color: #000;
    background-image: url("/images/website-background2.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-family: "Open Sans", Arial, sans-serif; 
    margin: 0;
    padding-top: 46px;
}

abbr {
    text-decoration: none;
}

/* CONATINER FOR HOME PAGE */

.container {
    margin: 0 6% 50px 6%;
}

/* TITLE SECTION */

.title {
    width: auto;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 3em;
    word-spacing: 2em;
}

.title h1 {
    font-size: 50px;
    padding: 0;
    margin: 20px 0 30px 0;
    word-spacing: normal;
}

.title a {
    color: #d1d1d1;
    text-emphasis: none;
    text-decoration: none;
}

/* HOME PAGE INFORMATION */

.information-blocks {
    float: left;
    width: 42%;
    padding: 0 1.5%;
    margin: 3% 0;
    background-color: rgba(255, 255, 255, 0.85);
    color: black;
    border-radius: 20px;
    transition: all 0.4s ease-in-out;
}

.information-blocks a {
    color: #A7A7A7;
    text-emphasis: none;
    text-decoration: none;
}

.information-blocks a:hover {
    color: #FC50A2;
}

.row {
    width: auto;
}

.row img {
    float: right;
    width: 45%;
    height: 30%;
    margin: 3% 0;
    border-radius: 5px;
}

/* ALL ICONS */

.fa-linkedin {
    transition: all 0.4s ease-in-out;
}

.fa-linkedin:hover {
    transform: scale(1.2);
    color: #0077B5;
}

.fa-github {
    transition: all 0.4s ease-in-out;
}

.fa-github:hover {
    transform: scale(1.2);
    color: #6CC644;
}

.fa-envelope {
    transition: all 0.4s ease-in-out;
}

.fa-envelope:hover {
    transform: scale(1.2);
    color: white;
}

/*NAVIGATION BAR*/

.navigation-bar {
    margin: 0;
    padding: 0;
}

.navigation-bar ul {
    list-style-type: none; /* Makes sure no bullet points */
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a7a7a7b9;
    position: fixed;
    top: 0;
    width: 100%;
}

.navigation-bar li {
    float: left;
}

.navigation-bar li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    transition: all 0.2s ease-in-out;
}

.navigation-bar li a:hover {
    background-color: #a7a7a7;
    padding: 14px 24px;
}

#active {
    background-color: #00A5FF; /* Blue #00A5FF */
    padding: 14px 16px; /* REMOVE IF YOU WANT IT TO DYNAMIC */
}

/* Download Button */

.download-button {
    text-align: center;
    margin: 30px auto;
}

.download-button a {
    color: white;
    padding: 18px 24px;
    background-color: #00A5FF;
    text-decoration: none;
    text-emphasis: none;
    transition: all 0.2s ease-in-out;
}

.download-button a:hover {
    background-color: #1377F3;
}

embed {
    width: 800px;
    height: 1032px;
    display: table;
    margin-left: auto;
    margin-right: auto;
}
