#hamburger-button {
  background: transparent;
  border: none;
}

.hamburger {
  display: block;
  height: 1.5rem;
  width: auto;
}

.line {
  transition: transform 200ms ease-in-out 200ms, rotate 200ms ease-in-out,
    opacity 0ms 200ms;
  transform-origin: center;
}

#hamburger-button[aria-expanded="true"] .line {
  transition: transform 200ms ease-in-out, rotate 200ms ease-in-out 200ms,
    opacity 0ms 200ms;
}

#hamburger-button[aria-expanded="true"] .top {
  transform: translateY(20px);
}
#hamburger-button[aria-expanded="true"] .bottom {
  transform: translateY(-20px);
}

#hamburger-button[aria-expanded="true"] .top {
  rotate: 45deg;
}

#hamburger-button[aria-expanded="true"] .middle {
  opacity: 0;
}

#hamburger-button[aria-expanded="true"] .bottom {
  rotate: -45deg;
}
