/* Primary Header */
.logo {
  margin: 0 2rem;
}

.logo > svg {
  fill: var(--clr-text);
  height: 1.5rem;
  width: auto;
  display: block;
}

.theme-toggle {
  cursor: pointer;
  margin: 0 2rem;
}

.theme-toggle > svg {
  /* Width of icon does not change */
  min-width: 24px;
}

.primary-header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 5rem;
  background-color: var(--clr-main);
  border-bottom: 4px solid var(--clr-secondary);
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.primary-header a {
  color: var(--clr-text);
  text-decoration: none;
}

.primary-navigation {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.primary-navigation a {
  position: relative;
}

.primary-navigation a::after {
  content: "";
  display: block;
  height: 0.1em;
  background-color: var(--clr-text);
  position: absolute;
  bottom: -0.2em;
  left: 0;
  right: 0;
  transform: scale(0, 1);
  transition: transform ease-in-out 250ms;
}

.primary-navigation a.text-gradient::after {
  /* Eliminate underline on active link */
  /* content: none; */
  background-image: var(--gradient);
}

.primary-navigation a:hover::after {
  transform: scale(1, 1);
}

/* REPLACED WITH TEXT-GRADIENT UTILITY CLASS */
/* .active > .fa-house {
  background-color: var(--clr-grad-left);
  background-image: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */
